body{
    background-color: grey;
    font-style: italic;
}
.Cricket{
    background-color: aqua;
}
.second{
    color: brown;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-style:dotted;
    letter-spacing: 30px;
    text-shadow: 4px 5px 6px rgb(38, 217, 190);
}
.pra{
    font-weight: bold;
    font-style: italic;
    word-spacing: 60px;
    line-height: 60px;
    
}